[{:labels ["compras" "mercado"], :permissions [{:user "joao1979", :allowRead true, :allowEdit true}], :lists [{:title "Limpeza", :itens [{:name "Detergente", :selected true} {:name "Amaciante", :selected false} {:name "Veja", :selected false}]} {:title "Comida", :itens [{:name "Arroz", :selected true} {:name "Feijão", :selected false}]} {:itens [{:name "Arroz", :selected true} {:name "Feijão", :selected false}]}], :color "blue", :pinned true, :public true, :title "Lista de compras", :url "listaCompras", :reminders [{:day "2023-03-22", :time "20:38"}], :body "Março 2023", :user "rezende"}]